# Android Studio / IntelliJ
.idea/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# Build outputs
**/build/
/captures

# External Native Build
.externalNativeBuild
.cxx

# Signing files
*.jks
*.keystore

# Google Services
google-services.json

# APKs (Don't track generated APKs, they should be in Releases)
*.apk
*.ap_
*.aab
