<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.BIND_WALLPAPER" tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_hacker"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_hacker"
        android:supportsRtl="true"
        android:theme="@style/Theme.MatrixWallpaper">
        <service
            android:name="com.matrix.hacker.wallpaper.MatrixWallpaperService"
            android:enabled="true"
            android:exported="true"
            android:label="Matrix Hacker Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/wallpaper" />
        </service>
        <activity
            android:name="com.matrix.hacker.wallpaper.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MatrixWallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>